.bg-navy {
  background-color: #003149; }

.bg-navy-tint1 {
  background-color: #0E375D; }

.bg-navy-tint2 {
  background-color: #0D3E66; }

.bg-skyblue {
  background-color: #00C0FF; }

.bg-skyblue-tint {
  background-color: #6FCDF4; }

.bg-skyblue-shade {
  background-color: #39ABDD; }

.bg-coral {
  background-color: #FF4D2A; }

.bg-coral-tint {
  background-color: #FF9B87; }

.bg-coral-shade {
  background-color: #E63200; }

.bg-green {
  background-color: #00C67B; }

.bg-green-tint {
  background-color: #7CD7AD; }

.bg-green-shade {
  background-color: #008756; }

.bg-yellow {
  background-color: #FFD400; }

.bg-yellow-tint {
  background-color: #FFE489; }

.bg-yellow-shade {
  background-color: #C29518; }

.bg-violet {
  background-color: #CC66CC; }

.bg-violet-tint {
  background-color: #D1A1D6; }

.bg-violet-shade {
  background-color: #984A9C; }

.bg-aqua {
  background-color: #33CCCC; }

.bg-aqua-tint {
  background-color: #89E5E5; }

.bg-aqua-shade {
  background-color: #00999F; }

.bg-darkgray {
  background-color: #374E5A; }

.bg-mediumgray {
  background-color: #7D96AA; }

.bg-lightgray {
  background-color: #BEC6CF; }